/*crochet soup page styling*/
.crochetsoup_body {
  text-align: center;
}

.CS_gallery {
  margin-bottom: 30px;
  margin-top: 30px;
}

.CS_gallery img {
  display: block;
  width: 960px;
  height: 540px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.CS_gallery p {
  font-size: 1.2em;
  width: 700px;
  text-align: justify;
  margin: auto;
}

.CS_gallery h1 {
  font-size: 2em;
}

.instaLink {
  text-decoration: none;
  font-size: 1.2em;
  color: #fff;
  font-weight: bold;
  background-color: #d7bae8;
  padding: 20px;
}

/*hover animation*/
@-webkit-keyframes instaLink {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes instaLink {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.instaLink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.instaLink:hover, .instaLink:focus, .instaLink:active {
  -webkit-animation-name: instaLink;
  animation-name: instaLink;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
